body {
    background-color: black;
    
    #board {
        position: relative;
        width: 1024px;
        height: 863px;
        margin: 30px auto 0;
        background: url("../img/board.jpg") no-repeat left top;
    }

    .messageArea {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 30px;
        color: rgb(83, 175, 19);
    }

    .link {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 30px;
        color: rgb(83, 175, 19);
        text-decoration: none;
    }

    table {
        position: absolute;
        left: 172px;
        top: 97px;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    td {
        width: 96px;
        height: 96px;
        padding: 0;
        box-sizing: border-box;
    }

    form {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 9px;
        background-color: rgb(83, 175, 19);

        input {
            background-color: rgb(152, 207, 113);
            border-color: rgb(83, 175, 19);
            font-size: 1em;
        }
    }

    .hit {
        background: url("../icons/ship.png") no-repeat center center;
    }

    .miss {
        background: url("../icons/miss.png") no-repeat center center;
    }
}

